<mat-card class="example-card">
  <mat-card-content *ngIf="data.verificationSucceeded">
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        <img
          src="../../../../assets/img/checked.png"
          width="150px"
          height="150px"
        />
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-8 mat-title" >
        Similarity Percentage:
      </div>
      <div class="col-4 d-flex justify-content-center mat-title" >
        {{data.verificationValue}} %
      </div>
    </div>
  </mat-card-content>

  <mat-card-content *ngIf="!data.verificationSucceeded">
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        <img
          src="../../../../assets/img/delete-button.png"
          width="150px"
          height="150px"
        />
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-12 d-flex justify-content-center mat-title" style="color: #FE3B31" >
        {{ data.verificationErrorMessage}}
      </div>
    </div>
  </mat-card-content>
</mat-card>
