<section class="blog_area">
  <div class="container">
    <div class="row mt-2">
      <div class="offset-4 col-8">
        <ol>
          <li>Insure you are logged in with the provided username and password</li>
          <li>Upload the first signature image</li>
          <li>Upload the second signature image</li>
          <li>Click the "Verify Signatures" button</li>
        </ol>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-5 imgUp">
        <p class="h5 text-center">Signature Image</p>
        <div class="imagePreview" #signatureOne></div>
        <label class="btn btn-primary">
          Upload<input type="file" class="uploadFile img" value="Upload Photo"
                       (change)="signatureSelected($event,signatureOne)"
                       style="width: 0px;height: 0px;overflow: hidden;">
        </label>
      </div>
      <div class=" offset-2 col-5 imgUp">
        <p class="h5 text-center">Signature Image</p>
        <div class="imagePreview" #signatureTwo></div>
        <label class="btn btn-primary">
          Upload<input type="file" class="uploadFile img" value="Upload Photo"
                       (change)="signatureSelected($event,signatureTwo)"
                       style="width: 0px;height: 0px;overflow: hidden;">
        </label>
      </div>
    </div>
    <div class="row justify-content-center mt-3">
      <div class="col-4">
        <button (click)="VerifySignatures()"
                style="width: 100%;height:75px;border-radius: 15px; font-size: large;font-weight: bolder"
                class="btn btn-primary">Verify Signatures
        </button>
      </div>
    </div>
  </div>

  <div style="position: fixed;bottom: 0px;right: 0px;">
    <button (click)="navigateToDocumentationView()"

            class="btn btn-primary">ASV API Documentation Page
    </button>
  </div>
</section>
