<mat-card>
  <mat-card-content>
      <h2>Log In</h2>
    <mat-error *ngIf="!loginValid">
      {{ loginErrorMessage }}
    </mat-error>
      <mat-form-field appearance="outline">
        <input matInput placeholder="User Name" [(ngModel)]="username" name="username" required>
        <mat-error>
          Please provide a valid user name
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input matInput type="password" placeholder="Password" [(ngModel)]="password" name="password" required (keyup.enter)="onSubmit()">
        <mat-error>
          Please provide a valid password
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="onSubmit()">Login</button>
  </mat-card-content>
</mat-card>
